<section class="bg-indigo-50">
  <div class="container m-auto max-w-2xl py-24">
    <div class="bg-white px-6 py-8 mb-4 shadow-md rounded-md border m-4 md:m-0">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <h2 class="text-3xl text-center font-semibold mb-6">Please log in with your credentials</h2>

        <div class="mb-4">
          <label for="email" class="block text-gray-700 font-bold mb-2">
            Email
          </label>
          <input type="email" id="email" name="email" placeholder="Email" class="border rounded w-full py-2 px-3"
            formControlName="email" required>

          <div *ngIf="email && email.invalid && (email.dirty || email.touched)" class="text-red-500 font-bold italic">
            <div *ngIf="email.hasError('required')">
              Email is required.
            </div>
            <div *ngIf="email.hasError('email')">
              Please enter a valid email.
            </div>
          </div>
        </div>
        <div class="mb-4">
          <label for="email" class="block text-gray-700 font-bold mb-2">
            Password
          </label>
          <input type="password" id="password" name="password" placeholder="Password"
            class="border rounded w-full py-2 px-3" formControlName="password" required>

          <div *ngIf="password && password.invalid && (password.dirty || password.touched)"
            class="text-red-500 font-bold italic">
            <div *ngIf="password.hasError('required')">
              Password is required.
            </div>
          </div>
        </div>
        <div>
          <button class="font-bold py-2 px-4 rounded-full w-full"
            [ngClass]="{'bg-fuchsia-500 hover:bg-fuchsia-600 text-white focus:outline-none focus:shadow-outline': userForm.valid, 'bg-gray-300 cursor-not-allowed opacity-50': !userForm.valid}"
            type="submit" [disabled]="!userForm.valid">
            Log In
          </button>
        </div>
      </form>
    </div>
  </div>
</section>