<section class="bg-indigo-50">
  <div class="container m-auto max-w-2xl py-24">
    <div class="bg-white px-6 py-8 mb-4 shadow-md rounded-md border m-4 md:m-0">
      <form [formGroup]="jobForm" (ngSubmit)="onSubmit()">
        <h2 class="text-3xl text-center font-semibold mb-6">Add Job</h2>

        <div class="mb-4">
          <label for="type" class="block text-gray-700 font-bold mb-2">
            Job Type
          </label>
          <select id="type" name="type" class="border rounded w-full py-2 px-3" formControlName="type" required>
            <option value="Full-Time">Full-Time</option>
            <option value="Part-Time">Part-Time</option>
            <option value="Remote">Remote</option>
            <option value="Internship">Internship</option>
          </select>
        </div>

        <div class="mb-4">
          <label for="title" class=" block text-gray-700 font-bold mb-2">
            Job Listing Name
          </label>
          <input type="text" id="title" name="title" class="border rounded w-full py-2 px-3 mb-2"
            placeholder="eg. Beautiful Apartment In Miami" required formControlName="title" />

          <div *ngIf="title && title.invalid && (title.dirty || title.touched)" class="text-red-500 font-bold italic">
            <div *ngIf="title.hasError('required')">
              Title is required.
            </div>
          </div>
        </div>
        <div class="mb-4">
          <label for="description" class="block text-gray-700 font-bold mb-2">
            Description
          </label>
          <textarea id="description" name="description" class="border rounded w-full py-2 px-3" rows="4"
            placeholder="Add any job duties, expectations, requirements, etc" formControlName="description"></textarea>

          <div *ngIf="jobDescription && jobDescription.invalid && (jobDescription.dirty || jobDescription.touched)"
            class="text-red-500 font-bold italic">
            <div *ngIf="jobDescription.hasError('required')">
              Description is required.
            </div>
            <div *ngIf="jobDescription.hasError('minlength')">
              Description must be at least 10 characters long.
            </div>
          </div>
        </div>

        <div class="mb-4">
          <label for="type" class="block text-gray-700 font-bold mb-2">
            Salary
          </label>
          <select id="salary" name="salary" class="border rounded w-full py-2 px-3" formControlName="salary" required>
            <option value="Under $50K">Under $50K</option>
            <option value="$50K - $60K">$50K - $60K</option>
            <option value="$60K - $70K">$60K - $70K</option>
            <option value="$70K - $80K">$70K - $80K</option>
            <option value="$80K - $90K">$80K - $90K</option>
            <option value="$90K - $100K">$90K - $100K</option>
            <option value="$100K - $125K">$100K - $125K</option>
            <option value="$125K - $150K">$125K - $150K</option>
            <option value="$150K - $175K">$150K - $175K</option>
            <option value="$175K - $200K">$175K - $200K</option>
            <option value="Over $200K">Over $200K</option>
          </select>

          <div *ngIf="salary && salary.invalid && (salary.dirty || salary.touched)"
            class="text-red-500 font-bold italic">
            <div *ngIf="salary.hasError('required')">
              Salary is required.
            </div>
          </div>
        </div>

        <div class="mb-4">
          <label class="block text-gray-700 font-bold mb-2">
            Location
          </label>
          <input type="text" id="location" name="location" class="border rounded w-full py-2 px-3 mb-2"
            placeholder="Company Location" formControlName="location" required />

          <div *ngIf="location && location.invalid && (location.dirty || location.touched)"
            class="text-red-500 font-bold italic">
            <div *ngIf="location.hasError('required')">
              Location is required.
            </div>
          </div>
        </div>


        <div formGroupName="company">
          <h3 class="text-2xl mb-5">Company Info</h3>

          <div class="mb-4">
            <label for="company" class="block text-gray-700 font-bold mb-2">
              Company Name
            </label>
            <input type="text" id="company" name="company" class="border rounded w-full py-2 px-3"
              placeholder="Company Name" formControlName="name" required />

            <div *ngIf="companyName && companyName.invalid && (companyName.dirty || companyName.touched)"
              class="text-red-500 font-bold italic">
              <div *ngIf="companyName.hasError('required')">
                Company name is required.
              </div>
            </div>
          </div>

          <div class="mb-4">
            <label for="company_description" class="block text-gray-700 font-bold mb-2">
              Company Description
            </label>
            <textarea id="company_description" name="company_description" class="border rounded w-full py-2 px-3"
              rows="4" placeholder="What does your company do?" formControlName="description"></textarea>

            <div
              *ngIf="companyDescription && companyDescription.invalid && (companyDescription.dirty || companyDescription.touched)"
              class="text-red-500 font-bold italic">
              <div *ngIf="companyDescription.hasError('required')">
                Company description is required.
              </div>
              <div *ngIf="companyDescription.hasError('minlength')">
                Company description must be at least 10 characters long.
              </div>
            </div>
          </div>

          <div class="mb-4">
            <label for="contact_email" class="block text-gray-700 font-bold mb-2">
              Contact Email
            </label>
            <input type="email" id="contact_email" name="contact_email" class="border rounded w-full py-2 px-3"
              placeholder="Email address for applicants" formControlName="contactEmail" required />

            <div *ngIf="companyEmail && companyEmail.invalid && (companyEmail.dirty || companyEmail.touched)"
              class="text-red-500 font-bold italic">
              <div *ngIf="companyEmail.hasError('required')">
                Company email is required.
              </div>
              <div *ngIf="companyEmail.hasError('email')">
                Please enter a valid email.
              </div>
            </div>
          </div>
          <div class="mb-4">
            <label for="contact_phone" class="block text-gray-700 font-bold mb-2">
              Contact Phone
            </label>
            <input type="tel" id="contact_phone" name="contact_phone" class="border rounded w-full py-2 px-3"
              placeholder="Optional phone for applicants" formControlName="contactPhone" />
          </div>
        </div>

        <div>
          <button class="font-bold py-2 px-4 rounded-full w-full"
            [ngClass]="{'bg-fuchsia-500 hover:bg-fuchsia-600 text-white focus:outline-none focus:shadow-outline': jobForm.valid, 'bg-gray-300 cursor-not-allowed opacity-50': !jobForm.valid}"
            type="submit" [disabled]="!jobForm.valid">
            Add Job
          </button>
        </div>
      </form>
    </div>
  </div>
</section>